@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"],
input[type="password"],
input[type="email"] {
  @apply w-full border my-2 py-2 px-3 rounded-2xl;
}

primary {
  background-color: rgb(255, 61, 61);
}

button {
  @apply bg-gray-300;
}

button.primary {
  background-color: rgb(255, 61, 61);
  @apply p-2 w-full text-white rounded-2xl;
}
